:root {
    --bg-color: #091017;
    --card-color: #101c29;
    --primary-color: orangered;
    --secondary-color: rgb(240, 240, 0);
    --tertiary-color: skyblue;
    --font-color: #eee;
    --icon-border: transparent;
    --card-border: #0005;
    --footer-color: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color);
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: color 200ms linear, background-color 200ms linear;
}

body.light {
    --bg-color: white;
    --card-color: #ddd;
    --primary-color: orangered;
    --secondary-color: #203c54;
    --tertiary-color: hsl(182, 59%, 33%);
    --font-color: #202020;
    --icon-border: #ccc;
    --card-border: transparent;
}

a {
    color: inherit;
    text-underline-offset: 2px;
    transition: all 80ms linear;
}

a:focus-visible,
a:hover {
    color: var(--secondary-color);
}

input,
button {
    font-family: inherit;
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

h2 {
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    padding: 30px 0px;
}

h3 {
    font-weight: 600;
}

section {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
